[submodule "extern/ancillary"]
	path = extern/ancillary
	url = https://github.com/N-A-D/ancillary.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/proto"]
	path = extern/proto
	url = https://github.com/N-A-D/proto.git
