[submodule "extern/google/benchmark"]
	path = extern/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/google/googletest"]
	path = extern/google/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/other/bitset2"]
	path = extern/other/bitset2
	url = https://github.com/N-A-D/bitset2.git
