[submodule "extern/google/benchmark"]
	path = extern/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/google/googletest"]
	path = extern/google/googletest
	url = https://github.com/google/googletest.git
